.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  // display: flex;
  // flex-flow: row wrap;
  // display: flex;
  // justify-content: space-between;
  width: 100%;
  gap: 1rem;

  position: relative;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
      width: 30%;
      text-align: left;
    }
    &--next {
      float: right;
      width: 30%;
      text-align: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}

/*PAGE NUMBERS*/
.pagination__numbers {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;

  left: 50%;
  transform: translate(-50%, 140%);
}

.pagination__number--single {
  display: inline;
  margin-right: 5px;
  cursor: pointer;
}
.pagination__number--dots {
  display: inline;
  margin-right: 5px;
}
.page__active {
  font-weight: bold;
  color: orangered;
}
